[submodule "logalong-ios"]
	path = logalong-ios
	url = https://github.com/frankg0485/logalong-ios.git
[submodule "ios"]
	path = ios
	url = https://github.com/frankg0485/logalong-ios.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/stephencelis/SQLite.swift
[submodule "Charts"]
	path = Charts
	url = https://github.com/danielgindi/Charts
[submodule "logalong-android"]
	path = logalong-android
	url = https://github.com/frankg0485/logalong-android.git
[submodule "android"]
	path = android
	url = https://github.com/frankg0485/logalong-android.git
